<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/home_page.css">
    <link rel="icon" href="../static/images/logo.png" type="image/png">
    <title>AgricEcho</title>
</head>
<body>
    <header>
        <div class="logo">
        </div>
        <h1>AgricEcho</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Posts</a></li>
            <li><a href="./signup">Sign Up</a></li>
            <li><a href="./signin">Sign In</a></li>

        </ul>
    </nav>
    <div class="container">
        <h1>Welcome to AgricEcho</h1>
        <p>Your source for agricultural news and environmental updates.</p>
        <div>
            <h2> Hot Topics</h2>
            <ul>
                {% for article in hot_topics %}
                    <li><a href="{{ url_for('view_post', post_id=article.id) }}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 AgricEcho. All rights reserved.</p>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </footer>
</body>
</html>
